<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>122450097105-ogj0d4j0edoq821k2ar3tijg4vrntbus.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqBrHIT7cscvdxsmJhXZvr55yL3bgdLvk</string>
	<key>GCM_SENDER_ID</key>
	<string>122450097105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webiots.goapp</string>
	<key>PROJECT_ID</key>
	<string>goapp-7b216</string>
	<key>STORAGE_BUCKET</key>
	<string>goapp-7b216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122450097105:ios:076b1efd5dd22f6a1a26f0</string>
</dict>
</plist>